<a href="https://colab.research.google.com/github/cristinatruta/spam-messages/blob/main/Proiect_bun_spamipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import modules

In [15]:
import pandas as pd
import numpy as np
import nltk
import re
from nltk.corpus import stopwords

Loading the dataset

In [17]:
df = pd.read_csv(r"/content/sample_data/spam.csv",)
df.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [18]:
# get necessary columns for processing
df = df[['v2', 'v1']]
# df.rename(columns={'v2': 'messages', 'v1': 'label'}, inplace=True)
df = df.rename(columns={'v2': 'messages', 'v1': 'label'})
df.head()

                                            messages label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [35]:
df['Spam']=df['label'].apply(lambda x:1 if x=='spam' else 0)
df.head(5)

                                            messages  ... Spam
0  Go until jurong point, crazy.. Available only ...  ...    0
1                      Ok lar... Joking wif u oni...  ...    0
2  Free entry in 2 a wkly comp to win FA Cup fina...  ...    1
3  U dun say so early hor... U c already then say...  ...    0
4  Nah I don't think he goes to usf, he lives aro...  ...    0

[5 rows x 4 columns]

Preprocessing the dataset

In [37]:
# check for null values
df.isnull().sum()

messages      0
label         0
clean_text    0
Spam          0
dtype: int64

In [36]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [38]:
STOPWORDS =set(stopwords.words('english'))
def clean_text(text):
    # convert to lowercase
    text = text.lower()
    # remove special characters
    text = re.sub(r'[^0-9a-zA-Z]', ' ', text)
    # remove extra spaces
    text = re.sub(r'\s+', ' ', text)
    # remove stopwords
    text = " ".join(word for word in text.split() if word not in STOPWORDS)
    return text

In [39]:
# clean the messages
df['clean_text'] = df['messages'].apply(clean_text)
df.head()

                                            messages  ... Spam
0  Go until jurong point, crazy.. Available only ...  ...    0
1                      Ok lar... Joking wif u oni...  ...    0
2  Free entry in 2 a wkly comp to win FA Cup fina...  ...    1
3  U dun say so early hor... U c already then say...  ...    0
4  Nah I don't think he goes to usf, he lives aro...  ...    0

[5 rows x 4 columns]

In [64]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.messages,df.Spam,test_size=0.25)

In [65]:
#CounterVectorizer Convert the text into matrics
from sklearn.feature_extraction.text import CountVectorizer

Naive Bayes Have three Classifier(Bernouli,Multinominal,Gaussian) Here I use Multinominal Bayes Because here data in a discrete form discrete data(e.g movie ratings ranging 1 to 5 as each rating will have certain frequency to represent)

In [66]:
from sklearn.naive_bayes import MultinomialNB

In [68]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

Training The Model

In [69]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [76]:
emails=[
    'Hello, are you home, today?',
    'Will u meet ur dream partner soon? Is ur career off 2 a flyng start? 2 find out free, txt HORO followed by ur star sign, e. g. HORO ARIES'
]

In [74]:
clf.predict(emails)

array([0, 1])

Prediction Of Model

In [75]:
clf.score(X_test,y_test)

0.9863603732950467